<template name="header">
  <div class="header-wrapper">

    <div class="logo">
      <img src="../images/icons/wolf.svg" alt="AlphaCore">
      <h1>Alpha<strong class="core">Core</strong></h1>
    </div>

    <div class="nav">
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/work"><li>Work</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/contact"><li>Contact</li></a>
      </ul>
    </div>

    <div class="mobile-nav">
      <div class="nav-item">Home</div>
      <div class="nav-item">Work</div>
      <div class="nav-item">About</div>
      <div class="nav-item">Contact</div>
    </div>

  </div>
</template>
