<template name="projectHome">
  <div class="project-home">

    <div class="projects">
      <div class="project-card project-1">
        <div class="project-img">image</div>
        <h2>project name</h2>
      </div>

      <div class="project-card project-2">
        <div class="project-img">image</div>
        <h2>project name</h2>
      </div>

      <div class="project-card project-3">
        <div class="project-img">image</div>
        <h2>project name</h2>
      </div>


      <!-- <div class="project-card project-2">
        <div class="project-img">image</div>
        <h2>project name</h2>
      </div>

      <div class="project-card project-3">
        <div class="project-img">image</div>
        <h2>project name</h2>
      </div> -->

    </div>

  </div>
</template>
